@typeparam TEntity
<a asp-page="@Url"
   asp-route-fld1="@Model.SearchTable[0].FieldName"
   asp-route-op1="@OperatorValue(0)"
   asp-route-val1="@Model.SearchTable[0].FieldValue"
   asp-route-fld2="@Model.SearchTable[1].FieldName"
   asp-route-op2="@OperatorValue(0)"
   asp-route-val2="@Model.SearchTable[1].FieldValue"
   asp-route-pageNumber="1"
   class="btn btn-light btn-sm btn-block">
    Search
</a>
