@page
@model EDennis.AspNetIdentityServer.Areas.Identity.Pages.Account.Admin.IndexModel

@{
    ViewData["Title"] = "User Search";
}

<h1>User Search</h1>

<p>
    <em>(Note: New users must self-register)</em>
</p>
<div class="container">
    <form class="form" asp-page="./Index" method="get">
        <div class="form-group row filter-row">
            <input asp-for="SearchTable[0].FieldName" class="form-control col-sm-3" name="op0" id="op0" value="UserName" disabled />
            <select asp-for="UsrOp" class="form-control col-sm-3">
                <option value="0" title="equals">Equals</option>
                <option value="8" title="starts with">Starts With</option>
                <option value="9" title="ends with">Ends With</option>
                <option value="10" title="contains">Contains</option>
                <option value="11" title="like (use % wildcard)">Like</option>
            </select>
            <input asp-for="Usr" type="text" class="form-control col-sm-6">
        </div>
        <div class="form-group row filter-row">
            <input asp-for="SearchTable[1].FieldName" class="form-control col-sm-3" name="fld1" id="fld1" value="Organization" disabled />
            <input asp-for="SearchTable[1].Operator" class="form-control col-sm-3" name="op1" id="op1" value="Equals" disabled />
            <select asp-for="Org" asp-items="Model.Organizations" class="form-control col-sm-6"></select>
        </div>
        <div class="form-group row filter-row">
            <input asp-for="SearchTable[2].FieldName" class="form-control col-sm-3" name="fld2" id="fld2" value="Application" disabled />
            <input asp-for="SearchTable[2].Operator" class="form-control col-sm-3" name="op2" id="op2" value="Contains" disabled />
            <select asp-for="App" asp-items="Model.Applications" class="form-control col-sm-6"></select>
            <input type="hidden" name="pageNumber" id="pageNumber" value="1" />
        </div>

        <div class="form-group row filter-row">
            <div class="col-sm-2 offset-sm-5 button-column">
                <input type="submit" value="Search" class="btn btn-secondary btn-block" />
            </div>
        </div>
    </form>


    <table class="table table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserName</th>
                <th>Organization</th>
                <th>Applications</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data) {
                <tr>
                    <td>
                        <a asp-page="./User" asp-route-id="@item.Id">@item.Id</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Organization)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Applications)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-usrop="@Model.UsrOp"
   asp-route-usr="@Model.Usr"
   asp-route-org="@Model.Org"
   asp-route-app="@Model.App"
   asp-route-pageNumber="@(Model.CurrentPage - 1)"
   asp-route-totalRecords="@Model.RowCount"
   class="btn btn-secondary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-usrop="@Model.UsrOp"
   asp-route-usr="@Model.Usr"
   asp-route-org="@Model.Org"
   asp-route-app="@Model.App"
   asp-route-pageNumber="@(Model.CurrentPage + 1)"
   asp-route-totalRecords="@Model.RowCount"
   class="btn btn-secondary @nextDisabled">
    Next
</a>