@page
@model EDennis.Samples.ColorApp.Razor.Pages.Rgb.IndexModel

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<p>
    <a asp-page="./Create">Create New</a>
</p>
<div class="container">
    <form class="form" asp-page="./Index" method="get">
        <div class="form-group row filter-row">
            <select asp-for="SearchTable[0].FieldName" class="form-control col-sm-3" name="fld0" id="fld0">
                <option value="Id">Id</option>
                <option value="Name">Name</option>
                <option value="Red">Red</option>
                <option value="Green">Green</option>
                <option value="Blue">Blue</option>
            </select>
            <select asp-for="SearchTable[0].Operator" class="form-control col-sm-3" name="op0" id="op0">
                <option value="0" title="equals">Equals</option>
                <option value="1" title="does not equal">Not Equals</option>
                <option value="2" title="in comma-delimited list">In  a,b,c ...</option> <!-- .Where("Name in (\"Brown\",\"Grey\"))") -->
                <option value="3" title="not in comma-delimited list">Not In  a,b,c ...</option> <!-- .Where("not(Name in (\"Brown\",\"Grey\"))") -->
                <option value="4" title="less than">Less Than</option>
                <option value="5" title="less than or equal to">Less Than or Equal</option>
                <option value="6" title="greater than">Greater Than</option>
                <option value="7" title="greater than or equal to">Greater Than or Equal</option>
                <option value="8" title="starts with">Starts With</option>
                <option value="9" title="ends with">Ends With</option>
                <option value="10" title="contains">Contains</option>
                <option value="11" title="like (use % wildcard)">Like</option>
            </select>
            <input asp-for="SearchTable[0].FieldValue" type="text" class="form-control col-sm-6" name="val0" id="val0"> <!-- style="width:500px!important"> -->
        </div>
        <div class="form-group row filter-row">
            <select asp-for="SearchTable[1].FieldName" class="form-control col-sm-3" name="fld1" id="fld1">
                <option value="Id">Id</option>
                <option value="Name">Name</option>
                <option value="Red">Red</option>
                <option value="Green">Green</option>
                <option value="Blue">Blue</option>
            </select>
            <select asp-for="SearchTable[1].Operator" class="form-control col-sm-3" name="op1" id="op1">
                <option value="0" title="equals">Equals</option>
                <option value="1" title="does not equal">Not Equals</option>
                <option value="2" title="in comma-delimited list">In  a,b,c ...</option> <!-- .Where("Name in (\"Brown\",\"Grey\"))") -->
                <option value="3" title="not in comma-delimited list">Not In  a,b,c ...</option> <!-- .Where("not(Name in (\"Brown\",\"Grey\"))") -->
                <option value="4" title="less than">Less Than</option>
                <option value="5" title="less than or equal to">Less Than or Equal</option>
                <option value="6" title="greater than">Greater Than</option>
                <option value="7" title="greater than or equal to">Greater Than or Equal</option>
                <option value="8" title="starts with">Starts With</option>
                <option value="9" title="ends with">Ends With</option>
                <option value="10" title="contains">Contains</option>
                <option value="11" title="like (use % wildcard)">Like</option>
            </select>
            <input asp-for="SearchTable[1].FieldValue" type="text" class="form-control col-sm-6" name="val1" id="val1"> <!-- style="width:500px!important"> -->
            <input type="hidden" name="pageNumber" id="pageNumber" value="1" />
        </div>
        <!--TODO: Get this working -->
        <!--
    <component type="typeof(BlazorSearchButton)" render-mode="ServerPrerendered"
               param-Url="./Index" param-Model="@Model" />
    -->

        <div class="form-group row filter-row">
            <div class="col-sm-2 offset-sm-5 button-column">
                <input type="submit" value="Search" class="btn btn-secondary btn-block" />
            </div>
        </div>
    </form>


    <table class="table table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Red</th>
                <th>Green</th>
                <th>Blue</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Red)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Green)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Blue)
                </td>
                <td>
                    <a asp-page="/Rgb/Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="/Rgb/Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="/Rgb/Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>



<!--TODO: Get this working -->
<!--
<component type="typeof(BlazorPager)" render-mode="ServerPrerendered"
           param-Url="./Index" param-Model="@Model" />
-->

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-fld0="@Model.SearchTable[0].FieldName"
   asp-route-op0="@Model.SearchTable[0].Operator"
   asp-route-val0="@Model.SearchTable[0].FieldValue"
   asp-route-fld1="@Model.SearchTable[1].FieldName"
   asp-route-op1="@Model.SearchTable[1].Operator"
   asp-route-val1="@Model.SearchTable[1].FieldValue"
   asp-route-pageNumber="@(Model.CurrentPage - 1)"
   asp-route-totalRecords="@Model.RowCount"
   class="btn btn-secondary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-fld0="@Model.SearchTable[0].FieldName"
   asp-route-op0="@Model.SearchTable[0].Operator"
   asp-route-val0="@Model.SearchTable[0].FieldValue"
   asp-route-fld1="@Model.SearchTable[1].FieldName"
   asp-route-op1="@Model.SearchTable[1].Operator"
   asp-route-val1="@Model.SearchTable[1].FieldValue"
   asp-route-pageNumber="@(Model.CurrentPage + 1)"
   asp-route-totalRecords="@Model.RowCount"
   class="btn btn-secondary @nextDisabled">
    Next
</a>